.order-book {
  width: 360px;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  padding-bottom: 10px;
}
.title {
  text-align: left;
  font-size: 18px;
  padding: 0 10px;
}
.order-book .quote-td {
  color: var(--th-color);
}
.order-row {
  display: flex;
  gap: 5px;
  padding: 0 10px;
}
.quote-bar {
  transition: 0.2s;
}
.quote-bar:hover {
  background-color: var(--quote-hover-bg);
}
.order-col {
  text-align: right;
  position: relative;
}
.order-col:first-child {
  flex: 1 1 35%;
  text-align: left;
}
.order-col:nth-child(2) {
  flex: 1 1 25%;
}
.order-col:nth-child(3) {
  flex: 1 1 40%;
}
.sell-text {
  color: var(--sell-text-color);
}
.buy-text {
  color: var(--buy-text-color);
}
.flash-red {
  animation: flashRed 0.3s ease;
}
.flash-green {
  animation: flashgreen 0.3s ease;
}
.percentage-bar {
  position: absolute;
  pointer-events: none;
  top: 0;
  right: 0;
  /* width: 30%; */
  height: 100%;
}
.sell-quote .percentage-bar {
  background-color: var(--sell-acc-bar-bg);
}
.buy-quote .percentage-bar {
  background-color: var(--buy-acc-bar-bg);
}
.current-price {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  padding: 8px 0 8px 28px;
  background-color: var(--buy-acc-bar-bg);
}
.arrow-svg {
  margin-left: 4px;
}
.current-price.same {
  color: var(--text-color);
  background-color: rgba(134, 152, 170, 0.12);
}
.current-price.same .arrow-svg {
  visibility: hidden;
}
.current-price.increase {
  color: var(--buy-text-color);
  background-color: var(--buy-acc-bar-bg);
}
.current-price.increase .arrow-svg {
  stroke: var(--buy-text-color);
  transform: rotateX(180deg);
}
.current-price.decrease {
  color: var(--sell-text-color);
  background-color: var(--sell-acc-bar-bg);
}
.current-price.decrease .arrow-svg {
  stroke: var(--sell-text-color);
}
@keyframes flashRed {
  0% {
    background-color: var(--flash-red-bg);
  }
  100% {
    background-color: transparent;
  }
}
@keyframes flashgreen {
  0% {
    background-color: var(--flash-green-bg);
  }
  100% {
    background-color: transparent;
  }
}
