.order-book {
  width: 360px;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  padding: 0 20px;
}
.order-book .quote-td {
  color: var(--th-color);
}
.order-row {
  display: flex;
  gap: 5px;
}
.quote-bar {
  transition: 0.2s;
}
.quote-bar:hover {
  background-color: var(--quote-hover-bg);
}
/* .sell-quote .order-col:first-child {
  color: var(--sell-text-color);
}
.buy-quote .order-col:first-child {
  color: var(--buy-text-color);
} */
.order-col {
  /* flex: 1 1 33.333%; */
  text-align: right;
  position: relative;
}
.order-col:first-child {
  flex: 1 1 35%;
  text-align: left;
}
.order-col:nth-child(2) {
  flex: 1 1 25%;
}
.order-col:nth-child(3) {
  flex: 1 1 40%;
}
.sell-text {
  color: var(--sell-text-color);
}
.buy-text {
  color: var(--buy-text-color);
}
.flash-red {
  animation: flashRed 0.3s ease;
}
.flash-green {
  animation: flashgreen 0.3s ease;
}
.percentage-bar {
  position: absolute;
  top: 0;
  right: 0;
  /* width: 30%; */
  height: 100%;
}
.sell-quote .percentage-bar {
  background-color: var(--sell-acc-bar-bg);
}
.buy-quote .percentage-bar {
  background-color: var(--buy-acc-bar-bg);
}
@keyframes flashRed {
  0% {
    background-color: var(--flash-red-bg);
  }
  100% {
    background-color: transparent;
  }
}
@keyframes flashgreen {
  0% {
    background-color: var(--flash-green-bg);
  }
  100% {
    background-color: transparent;
  }
}
